<%- include("./partials/header") %>
<main>
    <div class="container" id="table">
        <section class="home bd-grid row" id="home">
            <div class="home__data col s6">
                <h1 class="home__title">Oi,<br>Eu sou <span class="home__title-color">Guilherme Simões</span></h1>
                <p class="about__text">
                    Sou uma pesssoa bem comunicativa e carismática, trabalho bem em equipe, compromissado com as entregas e datas.
                    Tenho 29 anos, casado e um filho maravilhoso.

                    Estou muito honrado e feliz em poder participar deste processo seletivo e podendo demonstrar um pouco das minhas habilidades técnicas. 
                </p>
                <p class="center"> 
                    Estou em constante evolução técnica nas linguagens abaixo;
                </p>
                <div class="icones center">
                    <img src="./images/html.png" alt="">
                    <img src="./images/css.png" alt="">
                    <img src="./images/javascript.png" alt="">
                    <img src="./images/react.png" alt="">
                    <img src="./images/nodejs.png" alt="">
                </div>
            </div>

            <div class="home__img col s6">    
                <img src="./images/perfil.png" alt="">
            </div>
        </section>
    </div>
</main>
<%- include("./partials/footer") %>

